<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248024865261-hmtd19ftgq4ku0dl9sd3h6777qqhp5r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248024865261-hmtd19ftgq4ku0dl9sd3h6777qqhp5r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248024865261-0m7qd1379unfu5ml1175mudj4mm9cl3t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeIl_V80SjY3TySghOkFFeIBUcuZ3bKx4</string>
	<key>GCM_SENDER_ID</key>
	<string>248024865261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.microMitti.micromitti</string>
	<key>PROJECT_ID</key>
	<string>micromitti-68ea0</string>
	<key>STORAGE_BUCKET</key>
	<string>micromitti-68ea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248024865261:ios:15a3c518f08ed2d670afe4</string>
</dict>
</plist>